##  Trying out pandas

In [1]:
import pandas as pd

In [2]:
a = pd.DataFrame({"A": [1,2,3],
              "B": [4,5,6]
             })

In [3]:
a

   A  B
0  1  4
1  2  5
2  3  6

In [4]:
print(a)

   A  B
0  1  4
1  2  5
2  3  6

In [5]:
type(a["A"])

pandas.core.series.Series

In [6]:
type(a)

pandas.core.frame.DataFrame

In [7]:
a.columns

Index(['A', 'B'], dtype='object')

In [8]:
a = pd.DataFrame({"A": [1,2,3],
              "B": [4,5,6],
                  "C": [4,5,6],
                  "D": [4,5,6],
             })

In [9]:
a

   A  B  C  D
0  1  4  4  4
1  2  5  5  5
2  3  6  6  6

In [10]:
a[["B", "C"]]

   B  C
0  4  4
1  5  5
2  6  6

In [11]:
a = pd.DataFrame({"A": list(range(100)),
              "B": list(range(100)),
                  "C": list(range(100)),
                  "D": list(range(100)),
             })

In [12]:
a.head(3)

   A  B  C  D
0  0  0  0  0
1  1  1  1  1
2  2  2  2  2

In [13]:
a.tail(3)

     A   B   C   D
97  97  97  97  97
98  98  98  98  98
99  99  99  99  99

In [14]:
a[a["A"]== 2]

   A  B  C  D
2  2  2  2  2

In [15]:
a.shape

(100, 4)

In [16]:
import random

In [17]:
random.randint(0,10)

4

In [18]:
[random.randint(0, 10) for i in range(10)]

[2, 3, 1, 0, 0, 7, 2, 4, 7, 9]

In [19]:
import numpy as np

In [20]:
np.random.randint(0,20, size=10)

array([ 2,  5, 10,  5,  5, 13, 16,  8, 14, 10])

In [21]:
a = pd.DataFrame({
        k: np.random.randint(0,20, size=10)
        for k in ["A", "B", "C", "D"]
             })
a

    A   B   C   D
0  12   6  15  11
1   6  19   3   0
2   5   8   2  14
3   6  15   9   8
4   8  18   3   6
5   6   3   3  15
6   8   7  15   2
7  11   3   8   3
8   1   9  17  19
9  10  11  10  17

In [22]:
b = a[(a["A"] % 2) == 0]

In [23]:
b

    A   B   C   D
0  12   6  15  11
1   6  19   3   0
3   6  15   9   8
4   8  18   3   6
5   6   3   3  15
6   8   7  15   2
9  10  11  10  17

In [24]:
a

    A   B   C   D
0  12   6  15  11
1   6  19   3   0
2   5   8   2  14
3   6  15   9   8
4   8  18   3   6
5   6   3   3  15
6   8   7  15   2
7  11   3   8   3
8   1   9  17  19
9  10  11  10  17

In [25]:
b

    A   B   C   D
0  12   6  15  11
1   6  19   3   0
3   6  15   9   8
4   8  18   3   6
5   6   3   3  15
6   8   7  15   2
9  10  11  10  17

In [26]:
a.ix[(a["A"] % 2) == 0, "B"] = 2
a

    A  B   C   D
0  12  2  15  11
1   6  2   3   0
2   5  8   2  14
3   6  2   9   8
4   8  2   3   6
5   6  2   3  15
6   8  2  15   2
7  11  3   8   3
8   1  9  17  19
9  10  2  10  17

In [27]:
a

    A  B   C   D
0  12  2  15  11
1   6  2   3   0
2   5  8   2  14
3   6  2   9   8
4   8  2   3   6
5   6  2   3  15
6   8  2  15   2
7  11  3   8   3
8   1  9  17  19
9  10  2  10  17

In [28]:
iris = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [29]:
! conda install seaborn

Fetching package metadata .........
Solving package specifications: ..........

# All requested packages already installed.
# packages in environment at /home/entity/anaconda2/envs/python3:
#
seaborn                   0.7.1                    py34_0    conda-forge