##  Trying out pandas

In [1]:
import pandas as pd

In [6]:
a = pd.DataFrame({"A": [1,2,3],
              "B": [4,5,6]
             })

In [7]:
a

   A  B
0  1  4
1  2  5
2  3  6

In [8]:
print(a)

   A  B
0  1  4
1  2  5
2  3  6

In [11]:
type(a["A"])

pandas.core.series.Series

In [12]:
type(a)

pandas.core.frame.DataFrame

In [13]:
a.columns

Index(['A', 'B'], dtype='object')

In [14]:
a = pd.DataFrame({"A": [1,2,3],
              "B": [4,5,6],
                  "C": [4,5,6],
                  "D": [4,5,6],
             })

In [15]:
a

   A  B  C  D
0  1  4  4  4
1  2  5  5  5
2  3  6  6  6

In [16]:
a[["B", "C"]]

   B  C
0  4  4
1  5  5
2  6  6

In [18]:
a = pd.DataFrame({"A": list(range(100)),
              "B": list(range(100)),
                  "C": list(range(100)),
                  "D": list(range(100)),
             })

In [19]:
a.head(3)

   A  B  C  D
0  0  0  0  0
1  1  1  1  1
2  2  2  2  2

In [20]:
a.tail(3)

     A   B   C   D
97  97  97  97  97
98  98  98  98  98
99  99  99  99  99

In [22]:
a[a["A"]== 2]

   A  B  C  D
2  2  2  2  2

In [23]:
a.shape

(100, 4)

In [25]:
import random

In [26]:
random.randint(0,10)

9

In [27]:
[random.randint(0, 10) for i in range(10)]

[7, 8, 4, 5, 5, 7, 8, 6, 2, 7]

In [24]:
import numpy as np

In [28]:
np.random.randint(0,20, size=10)

array([19,  9,  2, 10, 11,  9,  7, 15, 14,  8])

In [29]:
a = pd.DataFrame({
        k: np.random.randint(0,20, size=10)
        for k in ["A", "B", "C", "D"]
             })
a

    A   B   C   D
0  10   9  19   3
1   1  12  18  10
2  12   2  11   9
3   2  11   4   9
4  15  19   1   0
5  13  12  14   8
6  13   3  16   7
7  11   8   3   4
8  15   4   4  15
9  16  14  15   1

In [31]:
b = a[(a["A"] % 2) == 0]

In [34]:
b

    A   B   C  D
0  10   9  19  3
2  12   2  11  9
3   2  11   4  9
9  16  14  15  1

In [33]:
a

    A   B   C   D
0  10   9  19   3
1   1  12  18  10
2  12   2  11   9
3   2  11   4   9
4  15  19   1   0
5  13  12  14   8
6  13   3  16   7
7  11   8   3   4
8  15   4   4  15
9  16  14  15   1

In [35]:
b

    A   B   C  D
0  10   9  19  3
2  12   2  11  9
3   2  11   4  9
9  16  14  15  1

In [36]:
a.ix[(a["A"] % 2) == 0, "B"] = 2
a

    A   B   C   D
0  10   2  19   3
1   1  12  18  10
2  12   2  11   9
3   2   2   4   9
4  15  19   1   0
5  13  12  14   8
6  13   3  16   7
7  11   8   3   4
8  15   4   4  15
9  16   2  15   1

In [38]:
a

    A   B   C   D
0  10   2  19   3
1   1  12  18  10
2  12   2  11   9
3   2   2   4   9
4  15  19   1   0
5  13  12  14   8
6  13   3  16   7
7  11   8   3   4
8  15   4   4  15
9  16   2  15   1